[2014-06-01 05:09] stupudmunkee opened #1 "Awesome Tool!"
So I lucked upon your repository and you may have added a few hours to my life and hairs to my head! I was banging my forehead against the keyboard asking why I had to do an automator workflow for this? Seems like it should be "apple-matic", especially with the bluetooth release.

Anyways, thank you for starting the project and going at the problem with complete solution.

**EDIT**
Got it working!

[2014-06-25 12:17] duanefields opened #2 "Target display mode not enabled after sleep"
There's a problem I keep running into where the iMac or the Macbook falls asleep and things can't recover. When I wake them up, Target Display Mode is disabled, and plugging/unplugging the thunderbolt cable doesn't do anything. I've confirmed that the app still recognizes connect/unconnect, but it can't re-enable target display mode.

I'm guessing that because at this point the iMac has no keyboar

[2014-06-28 09:52] edwonia opened #3 "error"
Ok I figured out the cocoapods thing but I'm now getting this error upon attempting to build

linker command failed with exit code 1 (use -v to see invocation)

[2014-06-28 15:34] #1 closed, assigned to nobody

[2014-07-11 14:17] nybblr opened #4 "Keep bluetooth connection with keyboard?"
Great extension -- I'm wondering if there is a flag that could be added to disable disconnecting from the bluetooth keyboard?

I'd like to get around the issue you mentioned by preserving a keyboard connection to the iMac, but still get the autoswitching. I'm using the Logitech K760 which allows me to pair with multiple devices, so I can preserve the connection to the TDM computer (thus preventing

[2014-07-11 15:14] #4 closed, assigned to nobody

[2014-07-14 18:32] nybblr opened #5 "Build for OS X 10.7"
Is there any reason OS X 10.9 is the minimum build version?

I'm trying to compile this for 10.7 on my fork at https://github.com/nybblr/VirtualKVM, but I am not an Obj-C coder (yet =) so I don't know if there are breaking SDK changes that would prevent this.

Thoughts?

[2014-08-15 08:01] Eidan78 opened #6 "mavericks 10.9.4 does not work for me"
I've got an iMac 27 late 2009 and a macbook pro 15 late 2013 and this app is not working at all...any help?

thanks! :)

[2014-11-21 08:35] mrcarl79 opened #7 "Possible serious issue?"
Hi,

I'm really not sure if this was a direct cause of VirtualKVM but I have had a serious issue croup while using it, and think it's worth investigating.

Basically I had VirtualKVM installed and running on my iMac which had been working fine. However I did something this week, and maybe didn't fully think about the potential ramifications.

I needed to connect my MacBook using target disk mode,

[2015-06-28 20:02] aliuk2012 commented on #6
Are you able to put your iMac into Target Display Mode?

[2015-06-28 23:59] duanefields commented on #6
It works fine for me in Yosemite, 10.10.3, and it worked in Mavericks.

—
Duane Fields
duane@duanefields.com

[2015-07-22 07:02] architector1 opened #8 "Downloadlink broken"
The link to the release build is broken.

I have downloaded the binary and could run the application from Xcode. The screen will toggle to target display mode. However if I build an application and start it then it doesn't work.

Please provide a ready-to-go release build.

[2015-07-25 18:44] duanefields commented on #8
This link doesn't work for you?

https://github.com/duanefields/VirtualKVM/releases/download/v1.0.0/VirtualKVM.zip

[2015-07-26 13:38] architector1 commented on #8
thanks! this one works.

but not the one posted at the main page of the project. (https://github.com/duanefields/VirtualKVM/blob/master/releases)

[2015-07-26 13:59] duanefields commented on #8
looks like the paths changed… fixed

—
Duane Fields
duane@duanefields.com

[2015-07-28 15:42] architector1 opened #9 "Target Display Mode not starting without keyboard"
This report relates to Issue number 2.

I have two iMacs, only the master iMac has a cabled keyboard.
VirtualKVM on the slave iMac recognizes when the master is connected via Thunderbolt, but it does't toogle to TDM since no keyboard is connected.
Having two keyboards connected all time isn't a real solution because then I can also just use the shortcut on the slave iMac to start TDM.

[2015-07-28 17:18] stupudmunkee commented on #9
Yeah, I don't think Duane's code was intended to handle USB keyboards.

If Apple TDM requires both iMacs to have a keyboard to operate, you'd probably need to report it as a bug or feature request to them.

[2015-09-22 12:32] artspb opened #10 "Feature: client mode"
First of all I'd like to thank you for this software. It perfectly solves my problem and I don't have to deal with Synergy or similar stuff. Good job!

So here's the feature request. Each time I disconnect MacBook from iMac, I've to manually disable bluetooth on MacBook, otherwise iMac can't find keyboard and mouse. The idea of the feature is to avoid it. So if the app is installed on MacBook and

[2015-09-22 14:05] duanefields commented on #10
Yes, this has been suggested before, and I have the same thoughts as you. I've just pushed a branch that has this feature, but I have not had time to test it. If you can test it out and let me know if it works, that'd be great!

[2015-09-22 14:05] #8 closed

[2015-09-22 14:05] #7 closed

[2015-09-22 14:06] #5 closed

[2015-09-22 14:06] duanefields commented on #6
Works in El Cap too

[2015-09-22 14:06] #6 closed

[2015-09-22 14:06] #3 closed

[2015-09-22 14:59] imyelmo commented on #10
If you could provide an executable or a link to a howto about the compilation process, I could try to test is in a free slot.

[2015-09-22 15:03] artspb commented on #10
I've tested it and it works exactly as described. "Auto Toggle Display" option looks quite confusing in the client mode: does it really work? Also I've checked #2 case: client was not able to recognize, that TDM is not available anymore -> bluetooth was still enabled.

[2015-09-22 15:10] artspb opened #11 "How to build page"
It's not really difficult to build the project, but it takes some time if you're no a Mac developer. It would be great to describe the process at least shortly. Tricky moments for me were to find, that:

* CocoaPods have to be installed first (`sudo gem install cocoapods`)
* than pod (`pod install`)
* Xcode has to be run from the terminal (`open VirtualKVM.xcworkspace`)

Also I still don't know ho

[2015-09-22 21:59] duanefields commented on #10
It has no effect, I'll hide it

[2015-09-22 22:01] duanefields commented on #10
Ok, changes ready for more testing.

[2015-09-22 22:06] #11 closed

[2015-09-22 22:06] duanefields commented on #11
You can "Build Archive" to get a release build

[2015-09-22 22:06] duanefields commented on #10
Here's a beta....

https://github.com/duanefields/VirtualKVM/releases/tag/v1.1.0

[2015-09-23 06:43] psu opened #12 "Feature request: brightness turned up"
Big thanks for VirtualKVM and the latest client update! Makes my work set-up so much cleaner, i love it.

The only thing I'm missing now is the client to set brightness to 100% on connection since the iMac i TDM-mode always starts off with brightness on 0%. What do you think?

Testing the 1.1.0 beta right now, will report on any problems.

[2015-09-23 08:18] artspb commented on #10
Looks good, thank you! #2 is still here, the rest is as usual.

[2015-09-23 13:33] duanefields commented on #10
Fixed in 1.1

[2015-09-23 13:33] #10 closed

[2015-09-23 13:42] duanefields commented on #12
I don't experience this issue on my setup - anyone else?

[2015-09-23 14:39] psu commented on #12
When I googled this a while ago I found two types of problems: the brightness keys doesn't (does for me though) work and that the brightness could be set to some random value.
I have the latter problem.

No big deal for me since I have a script for it in Alfred, but something like "setting: set brightness to xx on connect" could maybe be useful in both cases.

[2015-10-03 22:26] donaldchai opened #15 "Feature request: switch between host/client via menu item"
VirtualKVM v1.1.0 allows users to transfer control of a keyboard/mouse/display (in particular the iMac display) by connecting or disconnecting a Thunderbolt cable.  My setup involves two computers that may be connected indefinitely, and I would like to avoid stressing the hardware with repeated (dis)connections.  This request is for the addition of a menu item to transfer KVM control.

It is assum

[2015-10-03 22:48] donaldchai commented on #15
Amendment:
When "Toggle Display" is selected on either machine (and "Bluetooth follows Display" is enabled), Bluetooth should be disabled immediately instead of waiting for the next {-,+}TDM event.  This should expedite the transfer of any peripherals.

[2015-12-15 06:24] logeshpaul opened #17 "Feature Request: Start VirtualKVM on startup"
It would be great if you provide an option in preferences to start "VirtualKVM" on system login.

Now I have to manually start VirtualKVM and then connect my MacbookPro via thunderbolt cable.

[2015-12-15 08:20] psu commented on #17
Works great for me to add it to the Login Items under User in System preferences

[2015-12-15 14:07] logeshpaul commented on #17
@psu Thanks for that tip :+1:

[2016-01-07 13:05] psu opened #18 "El Capitan bluetooth toggle"
Seems like the bluetooth toggle stopped working after my update to El Capitan on client laptop.

[2016-01-07 13:09] psu commented on #18
Sorry, realized I didn't have the latest version…

[2016-01-07 13:09] #18 closed

[2016-01-26 12:03] psu opened #19 "Client Mode status not changing"
Since my update to El Capitan and VirtualKVM v1.1.2 both MacBook and iMac the Client Mode status is not set correctly both on connecting and disconnecting the iMac.

iMac could be left with Client Mode: Connected even if disconnected and MacBook are left in Client Mode: Not Connected even when connected.

The Target Display Mode works as usual but I have to change the bluetooth status manually – v

[2016-02-23 08:02] SoneeJohn commented on #2
@duanefields what you could do is create a power assertion when they are connected.

[2016-02-23 08:25] SoneeJohn commented on #2
@duanefields here is quick test implementation:

[code]

[2016-02-23 08:40] SoneeJohn commented on #2
@duanefields I just went and browsed your code and noticed that you're already doing this ;)

[2016-03-11 18:06] nandorocker commented on #12
Same happens with volume, for me, sometimes. It seems random. Sometimes I can't change the volume from my MacBook at all, even though it shows the volume changing. I have to use the iMac's keyboard and then it works.

[2016-03-11 18:10] nandorocker opened #21 "Feature Request: toggle manually from MacBook"
I'd love to be able to toggle TDM from my MacBook, manually. The auto mode doesn't work so well for me, because it's a bit imprecise.

What I mean is, if I leave my desk and my laptop goes into screensaver, after a while the iMac goes to sleep. I turn it back on but since it doesn't record a Thunderbolt connection, VirtualKVM doesn't trigger TDM and I have to go in and do it manually.

Would be aw

[2016-04-18 16:22] gschrader commented on #19
You might want to run `/usr/sbin/system_profiler SPThunderboltDataType` and see what is shown. I was trying to figure out why it doesn't work in my setup and have determined that my 2009 iMac doesn't have Thunderbolt and only a mini display port so that's why it doesn't work.

[2016-04-19 12:45] psu commented on #19
Thanks for the tip, I will check it out.
Could this be the case even if it were working with out problems before (other os x version and virtualkvm version)?
Also, as long as the status in virtualkvm is correct it works as expected....

[2016-04-24 11:53] xlc commented on #15
I am not sure if I understand your intention of this requested feature correctly. But you can use screen sharing to control your iMac and never need to switch to host.

[2016-04-24 15:42] cycloon opened #23 "Detect Cable On Startup"
In the current state, then I start the VirtualKVM and the cable is already plugged in, it does not detect it and does not switch to TDM. Would it be possible to change this behavior, so that the application also switches to TDM if the cable is already connected?

Use case is the following: If I boot or reboot the target iMac, it starts without TDM enabled. I would like it to automatically switch t

[2016-04-26 02:08] donaldchai commented on #15
No, I cannot, due to my particular VPN setup.  Hence the requirement: "It is assumed that communication between VirtualKVM processes occurs strictly through the Thunderbolt connection (or lack thereof)."

Even if I could, I really would prefer not to (a) make my iMac accessible via the public Internet, and (b) effectively round-trip packets over the Internet, through my employer's VPN gateway, and

[2016-04-26 02:32] xlc commented on #15
Yes, you can. Your (at least my) macs can VNC/Screen Sharing using thunderbolt connection. You don't even need them have WiFi or ethernet enabled.

When you connect macs with thunderbolt or ethernet cable, they can discover each other with Bonjour. You can verity it with [Bonjour Browser](http://www.tildesoft.com).

[2016-05-01 01:03] donaldchai commented on #15
Thank you for the link.  I've verified that Bonjour Browser works when my VPN is enabled, but Screen Sharing works if and only if the VPN is off.  This makes a bit of sense; as far I know, Bonjour works at level 2 of the OSI stack, while Screen Sharing requires TCP (Bonjour Browser says so!).  This doesn't directly solve my use case, but gives some ideas about how to communicate 1 bit of data betw

[2016-08-23 03:18] DrewYYC opened #24 "App No Longer Works on macOS Sierra"
I am running a MacBook Pro on OS X El Capitan and an iMac on the macOS Sierra and the Virtual KVM software no longer detects the Thunderbolt cable being connected and disconnected.  Has anyone else running macOS Sierra experienced this issue?

[2016-09-14 13:24] imyelmo commented on #24
Is this issue confirmed? If so,  does a workaround exist?

[2016-09-17 07:59] eugenelau18 commented on #24
I'm running OS X El Capitan on both MacBook Pro and iMac. Bluetooth on the iMac won't get switched off when the Thunderbolt cable is connected to my MBP.  Is El Capitan supported?

[2016-09-19 10:35] imyelmo commented on #24
Yeah, El Capitan is supported. However, some few times it does not work properly. Probably some related bug.

[2016-09-21 11:55] alvaromurillo commented on #24
I fix it for macOS Sierra, I create a Pull Request but you can get it from https://github.com/alvaromurillo/VirtualKVM/releases/tag/1.1.3

I didn't test it in older versions.

[2016-09-27 12:56] xenaton63 commented on #24
Excuse me for my english.

Simply does not work for me under Sierra.
When the Thunderbolt cable is connected, Virtual KVM switch from status "host mode : not connected" to "host mode : connected" but the display is not going into target mode. Nothing change

The bluetooth is correctly changer from on to off.

[2016-09-28 09:25] mbies commented on #24
Is it possible to publish a release with a new build for sierra?

[2016-10-05 08:50] davetgreen commented on #24
Same problem here, bluetooth switching works fine but the display change isn't triggered.

[2016-10-31 18:18] mjfagioli commented on #24
Would like to reiterate how thankful we are to @alvaromurillo for the fix! Awesome work! I didn't realize how much I had come to rely on this for my work-from-home days until Sierra broke it. Glad to be able to plug in to my iMac again.

[2016-11-11 04:09] markst commented on #24
This happens to me:
![screen shot 2016-11-11 at 11 14 16 am](https://cloud.githubusercontent.com/assets/274318/20204080/8e8a13a0-a820-11e6-8bd8-b7828e71a91e.png)

Appears connected, but never makes the switch.

[2016-11-17 01:26] SoneeJohn commented on #23
I believe https://github.com/duanefields/VirtualKVM/pull/27 addresses this. @cycloon can you confirm that the latest build does what you described?

[2016-11-22 19:20] imyelmo commented on #24
Hello,

VirtualKVM seems working properly. However, i'm seeing that your tuning the behaviour of the app. If you need some help to test it, let me know

[2016-11-22 22:19] SoneeJohn opened #31 "More accurate way of determining connection status."
Sometimes the client may indicated that it's connected even if it's not in TDM. I noticed that this comes times happens if the thunderbolt cable is pulled in but TDM was not enabled.

[2016-11-22 22:20] SoneeJohn commented on #31
I think I found a solution:

[code]

[2016-11-22 23:00] SoneeJohn commented on #31
See https://github.com/SoneeJohn/VirtualKVM/tree/accurate-connection-status

[2016-11-23 00:59] mjfagioli commented on #24
@alvaromurillo one issue that has come up using your fix is that when disconnecting the cable, the bluetooth peripherals disconnect from the laptop, but my iMac bluetooth doesn't turn back on to reconnect them, so I am forced to restart the iMac. Is anyone else experiencing this? Thanks!

[2016-11-23 10:45] davetgreen commented on #24
@mjfagioli @alvaromurillo I'm having the exact same problem, having to restart the iMac every time.

[2016-11-24 19:21] imyelmo commented on #24
I have experienced this problem last two days but only occasionally

[2016-11-24 22:25] SoneeJohn commented on #24
@imyelmo Thanks! I have noticed this too occasionally. However, I haven't been able to pinpoint the issue. I will soon open a pull request that adds more logging info, this should help me debug the issue.

Yes my pull request has a conflict I need to fix that.

Sure! Thanks for the offer.

[2016-11-25 00:48] SoneeJohn opened #33 "High energy utilization due to NSTimer"
I noticed high energy utilization due to `NSTimer` that fires every 2.5 seconds. I can understand why the timer is needed on the host computer but not on the client.

<img width="437" alt="screen shot 2016-11-24 at 8 33 32 pm" src="https://cloud.githubusercontent.com/assets/4827301/20611767/ec27d054-b286-11e6-9920-7c2189732533.png">

I usually have VirtualKVM always open on MacBook and having a ti

[2016-11-27 19:34] SoneeJohn opened #34 "NSTimer stops repeating?"
I've been debugging the `NSTimer` not repeating for the last two days now. I found that sometimes the timer would simply stop firing on the host machine. This usually happens after the machine exited or entered sleep mode or when the screensaver started.

[2016-11-27 23:17] SoneeJohn commented on #34
I think I found a solution. (Still testing)

[2016-11-28 12:59] mjfagioli commented on #24
Thanks, y'all. I can't contribute in terms of programming fixes, but let me know if anyone needs more details or log data.

[2016-11-29 15:54] SoneeJohn commented on #34
I tried observing sleep and wake notifications but those didn't work well. Therefore, I decided to use `dispatch_after`.

[2016-11-29 15:56] #34 closed

[2016-11-29 16:01] SoneeJohn commented on #24
@mjfagioli Thanks! Can you check out my folk and test that everything is working correctly on your end? https://github.com/SoneeJohn/VirtualKVM

[2016-11-29 16:39] imyelmo commented on #24
Hi @SoneeJohn , it seems that your build is working properly and better than ever. I have made only a basic check. Let see on daily use. I will inform about any issue. Thanks for your time!!!!!!

[2016-11-29 23:44] SoneeJohn opened #35 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to set posix_spawn_file_actions for fd -1 at index 0 with errno 9"
Received this exception today.

[code]

[2016-11-29 23:47] SoneeJohn commented on #35
May need to wrap the -launch method with @try and @catch.

[code]

[2016-11-30 14:45] #35 closed

[2016-11-30 14:59] SoneeJohn commented on #33
Closed with #32

[2016-11-30 14:59] #33 closed

[2016-11-30 14:59] SoneeJohn commented on #31
Closed with #32

[2016-11-30 14:59] #31 closed

[2016-12-02 19:39] arctelix commented on #24
@SoneeJohn Your build seems to be working with iMac on Sierra and MacBook Pro on El Capitan.  Thanks for the fix!

[2016-12-25 15:16] SoneeJohn opened #36 "Power assertion isn't recreated."
I noticed that the power assertion isn't recreated after it has been released.

[2016-12-30 21:41] #36 closed

[2016-12-31 01:50] dbacks2196 commented on #24
I downloaded this build for Sierra, and the bluetooth toggle seems to be working, just not the display toggle. Both of the computers recognize the connection, though. Any thoughts? Thanks!!

[2017-01-04 14:52] SoneeJohn commented on #24
@dbacks2196 can you try the latest build of the project?

[2017-01-04 16:51] dbacks2196 commented on #24
Thanks! I ended up getting it working! Turns out, you can only enter TDM while a keyboard from Apple is plugged in or connected.

[2017-01-04 17:15] SoneeJohn commented on #24
@dbacks2196 Yes that is correct. I am happy you got it working.

[2017-01-05 17:28] SgtOddball commented on #24
@dbacks2196 I've had a similar experience but abit more of an edge case, i've got a proper mac keyboard but it's a 10+ year old white full key height job. In the end, after borrowing a bluetooth keyboard, setting that up virtualKVM started working and since then I haven't required the bluetooth keyboard again (I do still have an old generic usb keyboard hooked upto it when it needs logging in). Bi

[2017-01-05 20:24] dbacks2196 commented on #24
This is pretty unrelated to this tool, but it's just a question I had about TDM. As you all probably know, the 13" retina MacBook Pro uses integrated intel iris graphics, and it's pretty laggy on some stuff. When I plug it into the iMac with a discrete graphics card, graphics performance seems to magically increase. Like a lot. Nothing lags, which I didn't think was possible, since I thought it wa

[2017-01-06 09:18] SgtOddball commented on #9
I've found that so long as you've had a bluetooth keyboard paired up to the target Mac then it works just fine. So long as it's recognised that there's a bluetooth keyboard then the keyboard is no longer required and it all works fine so i've found.

So your best work around is to borrow a bluetooth keyboard and pair it, and then return said keyboard and everything'll work just fine.

[2017-01-15 23:57] SoneeJohn commented on #24
@dbacks2196 when in TDM are you using MacBook Pro in clamshell mode? Also, what is the screen size of the iMac?

[2017-01-16 00:43] dbacks2196 commented on #24
Yes to clamshell mode. When it's open, it must revert back to integrated graphics, because the lag gets unreeeaaaaal. The iMac is 27".

[2017-01-16 00:51] SoneeJohn commented on #24
@dbacks2196 I think the reason why it might be doing this is because when in clamshell mode the GPU is only rendering the iMac's resolution.

![screen shot 2017-01-15 at 8 51 15 pm](https://cloud.githubusercontent.com/assets/4827301/21967830/624c5db2-db64-11e6-9674-68ec07df1fa0.png)

[2017-01-16 10:21] SgtOddball commented on #24
I might have a different idea as to what causes the issue, your iMac is a lower resolution than your MacBook Pro since a retina screened 13" MBP has a resolution of 2560 by 1600 pixels, where as your iMac display is 1920 x 1080 (as shown in the screen shot above). This should lower the strain on the GPU hence the apparent performance boost.

[2017-01-16 18:34] dbacks2196 commented on #24
Yeah, that’s what I was also thinking. Either way, it’s pretty fortunate!

[2017-01-16 18:35] dbacks2196 commented on #24
Maybe, yeah. The 27’ model is 2560x1440, while the MacBook pro is 2560x1600…so I guess it may just be because the integrated graphics don’t have to drive as many pixels? Who knows? I’m just happy about it :)

[2017-01-18 08:53] xenaton63 commented on #24
Hi,

(excuse me for my english)

And thanks to all.
For me everything works fine for the display part.

For me, the problem is with _"If you install it on your Macbook, the opposite happens. When you connect to the iMac the Macbook's Bluetooth will turn on, and then off again when you disconnect."_

The bluetooth is **not** turned off on the macbook when i disconnect the cable even with the virtua

[2017-02-25 00:47] WarpRat commented on #24
@SoneeJohn

Is there no solution for not attaching a keyboard to the iMac at all? I followed the instructions for the scripts here: http://superuser.com/questions/540799/sending-key-via-ssh-or-using-mouse-to-activate-target-display-mode

Those scripts work great - if a keyboard is attached - which kind of defeats the purpose. We'd really like to not have to tie up an extra keyboard to deploy all t

[2017-02-27 18:33] WarpRat commented on #9
@SgtOddball

How long have you had that set up? Do you find that you need to repair the keyboard after a certain amount of time? If so do you have an idea of how long that is?

[2017-02-28 09:23] SgtOddball commented on #9
Right recent findings are as follows:
1: Yes, the keyboard does need to re-pair after a while so instead I've gone different route and bought an app called 1Keyboard which spoofs the keyboard on a MBP to be a bluetooth keyboard.
2: On MacOS sierra, VirtualKVM doesn't detect when the cables pulled out cleanly so often gets stuck thinking the cable is still present. Closing down and restarting Virtu

[2017-04-07 07:19] artspb commented on #24
It's broken again in 10.12.4. @SoneeJohn Any chance you can take look?

[2017-04-07 15:30] SoneeJohn commented on #24
@artspb can did you try the latest build? Is the app not working on the client side or the host side?

[2017-04-07 17:34] artspb commented on #24
@SoneeJohn I'm using 1.2.1 from your page. The problem is on the host side. When I connect a cable the app doesn't enter into a target display mode. Instead, it only disables Bluetooth.

[2017-04-09 00:36] SoneeJohn commented on #24
@artspb thanks for informing me. My main machine isn't using macOS 10.2.4. I will test this over the weekend and attempt to find a fix.

[2017-04-09 00:38] SoneeJohn commented on #24
@WarpRat no I am not aware of another way to activate target display mode without having a keyboard attached to the iMac.

[2017-04-09 00:42] SoneeJohn commented on #24
Pinging https://github.com/reitermarkus have you tested this on macOS 10.12.4?

[2017-04-09 02:23] reitermarkus commented on #24
No, I got a new MacBook and have yet to find a USB-C Dock with DisplayPort which works with an iMac in TDM. When I do, I will certainly get back to this.

[2017-04-09 23:10] yacoob commented on #24
I can confirm that build 1.2.1 from @SoneeJohn's fork doesn't toggle display mode on macos 10.12.4 (16E195).

[2017-04-11 18:54] reitermarkus commented on #24
@SoneeJohn, I received my Dock today. I am having the same problem with DisplayPort.

`system_profiler` is not showing the cable as connected. After I manually enable TDM (or reconnect the cable, which triggers TDM), it is showing the cable as connected.

[2017-04-12 12:43] SoneeJohn commented on #24
@reitermarkus thanks I will update my iMac and check it out today.

[2017-04-12 14:39] SoneeJohn commented on #24
@reitermarkus @artspb @yacoob No issues on my end. I am using an iMac, late 2012 so it uses thunderbolt. Maybe this issue only appears on DisplayPort?

[2017-04-12 15:04] artspb commented on #24
@SoneeJohn I use iMac late 2013 with DisplayPort, so probably it's related.

[2017-04-12 15:53] yacoob commented on #24
Display port here as well.

[2017-04-12 18:56] 08levys commented on #24
@SoneeJohn I'm connecting an iMac (Mid 2011) to my Macbook Pro (Retina, Mid 2012) using Thunderbolt, and I'm seeing the same issue described above. I just updated the iMac to 10.12.4 and after connecting via Thunderbolt, Host Mode says connected and Bluetooth is turned off automatically but the display doesn't toggle.

[2017-04-12 22:57] SoneeJohn commented on #24
@08levys thanks. I believe I was able to replicate the issue today. Will keep everyone posted :-)

[2017-04-12 23:24] SoneeJohn commented on #24
@reitermarkus @artspb @yacoob @08levys I believe I came up with a fix (will commit in a few)

[2017-04-13 00:15] SoneeJohn commented on #24
@reitermarkus @artspb @yacoob @08levys can you guys test the latest commit?
https://github.com/SoneeJohn/VirtualKVM/commit/8e8db6093d1ab4723a22574880dc34d378454a0b

[2017-04-13 15:36] SgtOddball commented on #24
I've found that if the keyboard switch over isn't working it might be worth running the latest Combo update (currently for 10.12.4 and available through the AppStore [here](https://support.apple.com/kb/DL1910?locale=en_US) ) which even ironically enough adds support for non-mac/older mac keyboards - that said - Your mileage may vary, but i've found it's working fine for me now and I'd be intereste

[2017-04-17 13:56] yacoob commented on #24
@SoneeJohn I have no easy way to compile this, any chance you can put up a build? :|

[2017-04-18 04:39] zhouzizi opened #38 "Can't switch my IMac to Target Display Mode"
The Host Mode is 'Connetcted',but can't automatically switch mode.
I can switch it use Keyboard..

[2017-04-18 10:21] artspb commented on #24
Same here, the build would be appreciated.

[2017-04-18 20:07] SoneeJohn commented on #24
@yacoob @artspb please download the latest build here: https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip

[2017-04-18 20:08] SoneeJohn commented on #38
@zhouzizi can you please try this build: https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip

Let me know if that solves your issue.

[2017-04-18 20:08] SoneeJohn commented on #38
I believe this is a duplicate of: https://github.com/duanefields/VirtualKVM/issues/24

[2017-04-18 21:34] SoneeJohn opened #39 "Entering TDM without keyboard"
I believe it's possible to enter TDM without having a keyboard connected to the iMac.

 I was able to open the force quit window using:

[code]
Note: The keyboard was disconnected from the computer with the above example.

However I am unable to use it to enter TDM

[code]

Any suggestion of how I would be able to enter the key codes to trigger TDM?

[2017-04-19 03:07] zhouzizi commented on #38
My iMac system version is 10.12 ，I have try [https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip](v1.2.2/VirtualKVM.zip) and [https://github.com/alvaromurillo/VirtualKVM/releases/tag/1.1.3](v1.1.3), It doesn't work both.
I do not know if there is some problem with my running mode, the iMac doesn't have a keyboard ,only a mouse.And I connect MacBook Pro and iMac with Thu

[2017-04-19 08:06] artspb commented on #24
@SoneeJohn Works like a charm, thank you once again!

[2017-04-19 08:16] artspb opened #40 "Auto Toggle Bluetooth doesn't work in a client mode"
I use macOS 10.12.4 and [VirtualKVM 1.2.2](https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip) but the same issue appeared in the previous versions, too.

When I connect a cable iMac is switching to the TDM but Mac Book doesn't enable Bluetooth and I have to enable it manually. When I disconnect a cable Bluetooth is not disabled on Mac Book. At the same time, "Auto Tog

[2017-04-19 08:33] imyelmo commented on #40
I'm having the same problems as @artspb

[2017-04-19 14:40] SoneeJohn commented on #38
@zhouzizi The iMac will need to have a keyboard connected to it.

[2017-04-19 14:42] SoneeJohn commented on #40
I'll look into this sometime this weekend.

[2017-04-19 14:43] zhouzizi commented on #38
The iMac have a normal keyboard ,but not apple bluetooth keyboard.Can it work？

[2017-04-19 14:45] SoneeJohn commented on #38
@zhouzizi I believe it needs to have an Apple keyboard, if I can recall correctly.

[2017-04-19 14:57] imyelmo commented on #38
I 'am experiencing the problem and I have a Bluetooth Apple Keyboard.

[2017-04-22 13:25] yacoob commented on #24
@SoneeJohn cable connection has been detected, bt got disabled on desktop, but it was not enabled on the laptop - had to do it by hand. The status said: "Client: connected" in the menubar, FWIW. Something got deadlocked though - upon disconnection of the cable it doesn't switch back, and the switch doesn't happen if I connect the cable back, until I restart virtualkvm on both sides.

[2017-04-22 14:26] artspb commented on #24
@yacoob Yeah, I have the same problem, see #40.

[2017-04-22 22:46] SoneeJohn commented on #24
@yacoob Thanks for the report. I'll try and debug the issue.

[2017-04-24 02:59] SoneeJohn commented on #40
@imyelmo @artspb can you test this build: https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip ?

[2017-04-24 14:01] imyelmo commented on #40
Hi @SoneeJohn , it seems working!!!! Thanks!!! I will report any issue if necessary. Great job!

[2017-04-26 04:29] #40 closed

[2017-05-17 13:37] thully opened #42 "Disconnecting DisplayPort monitor disconnects Bluetooth, but reconnecting doesn't enable"
I have a MacBook Pro (13-inch, 2015) that I use in target display mode with my iMac (21-inch, 2011) at home using a Thunderbolt cable. I also use this MacBook Pro with a DisplayPort monitor (*not* Thunderbolt) at work.

I've noticed that if I have VirtualKVM running when I have the device connected to the DisplayPort monitor, it will disconnect Bluetooth when the DisplayPort cable is detached. How

[2017-06-08 15:09] nath202 commented on #24
What an absolute gem. Thanks for taking the time on this @SoneeJohn

[2017-07-17 15:22] dicetomato opened #43 "Thunderbolt 3 and Bluetooth"
Are there any known issues with thunderbolt 3 and the bluetooth toggle? I just got a new Macbook Pro and I'm using the thunderbolt 2 to thunderbolt 3 adapter to connect to my iMac. Everything works except bluetooth does not toggle on/off on the Macbook. I'm wondering if it has to do with the thunderbolt converter.

[2017-07-28 01:40] csandeep commented on #38
Just chiming in -- the `v1.2.2` works on late-2013 iMac + 2017 MBP running `macOS Sierra`

[2017-08-28 12:36] xinaesthete commented on #24
Many thanks indeed @SoneeJohn, working well.  You might consider editing the readme on your fork so that it explains the difference to the original and links to your releases.  Indeed, since @duanefields isn't in a position to keep maintaining it, he might link to the fork as well.

[2017-08-28 20:26] duanefields commented on #24
Or, I’m happy to make @SoneeJohn a maintainer!

--
Duane Fields
duane@duanefields.com

[2017-08-28 22:28] SoneeJohn commented on #24
@duanefields I would be happy to become a maintainer.

[2017-08-31 04:59] zandersmith opened #44 "Crashes in OSX Sierra 10.12.6"
It seems that perhaps the Objective-C API changed in OSX Sierra because the app crashes in KVMThunderboltObserver.m.  In the method isThunderboltEnabled() the call to systemProfilerThunderboltInfo() returns an NSDictionary, not an NSArray.  The following code corrects the problem...

[code]

After that the app seems to be working well.  I'm having a slight issue with my new wireless keyboard with

[2017-08-31 11:26] SoneeJohn commented on #44
@zandersmith Do you have the new Apple wireless keyboard? I noticed a this issue on the second generation Apple Magic keyboards.

[2017-09-01 05:41] zandersmith commented on #44
@SoneeJohn Yes, just bought the brand new wireless keyboard with number pad.  My older wireless mouse transfers control to the other computer when engaging the target display, but as I mentioned, the keyboard requires a power cycle.

[2017-10-02 14:53] arctelix commented on #24
@SoneeJohn Latest release seems to have broken something with my setup.  iMac sierra with MacBook pro el Capitan.  Launching virtualKVM on iMac toggles Bluetooth off with no connection.  When connected to MacBook.  Nothing happens..

[2017-10-25 15:16] SoneeJohn commented on #43
@dicetomato Can you try this version: https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip
?

[2017-10-25 15:17] SoneeJohn commented on #42
@thully Can you try this version: https://github.com/SoneeJohn/VirtualKVM/releases/download/v1.2.2/VirtualKVM.zip
?

[2017-10-25 15:17] SoneeJohn commented on #39
Closed as this is not possible at to moment to my knowledge.

[2017-10-25 15:17] #39 closed

[2017-10-25 15:18] SoneeJohn commented on #23
Closed due to no response from OP :-)

[2017-10-25 15:18] #23 closed

[2017-10-25 15:19] SoneeJohn commented on #24
@arctelix I'll release this in the main repo here.

[2017-10-25 15:19] SoneeJohn commented on #24
Closed fixed with #41

[2017-10-25 15:19] #24 closed

[2017-10-25 15:22] SoneeJohn commented on #21
@nandorocker I know this is an old request but I was thinking about adding this feature. I was thinking that it can be done over bonjour (the MacBook sending a message to the iMac and then the iMac entering the key commands)

[2017-10-25 15:35] dicetomato commented on #43
@SoneeJohn Actually, I ended up getting it working with some troubleshooting. I had to shut off both iMac and MBP a few times. It had been working ever since. I appreciate the reply!

[2017-10-25 15:37] SoneeJohn commented on #43
@dicetomato No problem!

[2017-10-25 15:37] #43 closed

[2017-10-25 15:38] SoneeJohn opened #46 "Bluetooth switching doesn't work on current Apple magic keyboard and trackpad"
The current magic keyboard and trackpad doesn't appear to pair the same way the old ones do.

[2017-10-26 12:03] yacoob commented on #24
Can we have a new build? :)

[2017-10-29 02:25] SoneeJohn opened #47 "Feature: Sparkle Updating"

[2017-11-05 09:57] OliverFischer opened #48 "Installation via homebrew?"
Hi all,

thx to saving time and nerves. Are there any plans to make it available via homebrew?

Greetings
Olli

[2017-11-05 19:28] hytgbn opened #49 "plan to upload new release?"
It seems like there have been many commits since the latest release. (Oct. 12)
Can we get a new release with the latest code?

[2017-11-05 20:33] SoneeJohn commented on #49
Will release a new version soon. 🙂

[2017-11-06 14:02] SoneeJohn commented on #47
Closed with https://github.com/duanefields/VirtualKVM/commit/08c8bdc9486f712f6517c85bcb987159c74e2dd8

[2017-11-06 14:02] #47 closed

[2017-11-06 14:14] SoneeJohn commented on #49
@hytgbn done https://github.com/duanefields/VirtualKVM/releases :-)

[2017-11-06 14:14] #49 closed

[2017-11-16 01:26] BillyQuan opened #50 "Doesn't work with OWC Thunderbolt 3 dock"
Hi All,
I had the vKVM working beautifully between my 2011 iMac and 2015 MacBook Pro via Thunderbolt 2

Then I decided to add the OWC Thunderbolt 3 dock to the mix (Why 3, because I will be upgrading soon and didn't want to buy a legacy dock).
So now my setup is
2015 MBP <-> T2 Cable <-> T2 to T3 Adapter <-> OWC T3 Dock <-> T3 to T2 Adapter <-> T2 Cable <-> 2011 iMac

I can manually turn on TDM fr

[2017-11-16 20:09] BillyQuan commented on #50
An update on above, I got it to work by power cycling the dock.
So Virtual KVM works fine, except it doesn't detect Thunderbolt cable plug/unplug, but power cycling the dock works great.  I just added a power bar that's easily accessible, and it actually works very nice in my setup.
I think another solution could be to have a manual toggle in the UI, which I believe other people are asking for.
No

[2017-11-20 19:07] SoneeJohn commented on #50
@BillyQuan can you open terminal and enter this command: ```system_profiler SPThunderboltDataType```

and send the output?

[2017-11-20 19:08] SoneeJohn commented on #48
@OliverFischer I don't think so. But you can always download from the releases.

[2017-11-20 19:08] #48 closed

[2017-11-20 19:09] #38 closed

[2017-11-20 19:49] BillyQuan commented on #50
system_profiler SPThunderboltDataType
Thunderbolt:

    Thunderbolt Bus:

      Vendor Name: Apple Inc.
      Device Name: MacBook Pro
      UID: 0x0001001303E789F0
      Route String: 0
      Firmware Version: 27.1
      Domain UUID: 283074C9-DEDD-705B-AD19-DC23F24FBA77
      Port:
          Status: No device connected
          Link Status: 0x7
          Speed: Up to 20 Gb/s x1
          Current

[2017-11-20 20:43] SoneeJohn commented on #50
@BillyQuan Thanks :-)

[2017-11-20 22:23] SoneeJohn commented on #50
@BillyQuan sorry just a couple more commands:

```system_profiler -xml SPHardwareDataType```

```system_profiler -xml SPDisplaysDataType```

My bad ;-)

[2017-11-21 03:33] BillyQuan commented on #50
system_profiler -xml SPHardwareDataType
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_SPCommandLineArguments</key>
		<array>
			<string>/usr/sbin/system_profiler</string>
			<string>-nospawn</string>
			<string>-xml</string>
			<string>SPHardwareDataType</st

[2017-11-21 03:37] BillyQuan commented on #50
system_profiler -xml SPDisplaysDataType
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_SPCommandLineArguments</key>
		<array>
			<string>/usr/sbin/system_profiler</string>
			<string>-nospawn</string>
			<string>-xml</string>
			<string>SPDisplaysDataType</st

[2017-11-21 16:16] SoneeJohn commented on #50
@BillyQuan it seems like you removed the some of the output.

Should look like this:

[code]

[2017-11-21 16:38] BillyQuan commented on #50
So not sure if you can do this, but if you click the edit button (pencil) at the top, it shows the full xml format which you can cut and paste, but not sure if only I get that view or if you do as well.  I'll re-post as well in case that doesn't work.

[2017-11-21 16:46] BillyQuan commented on #50
[code]

[2017-11-21 16:47] BillyQuan commented on #50
[code]

[2017-11-21 16:48] BillyQuan commented on #50
Ok, I think I figured this out, good luck, let me know if you need anything else.

[2017-11-23 15:18] SoneeJohn commented on #50
@BillyQuan can you run this command on your iMac with everything connected? ```system_profiler -xml SPDisplaysDataType SPThunderboltDataType```

[2017-11-28 00:35] BillyQuan commented on #50
[code]

[2017-11-28 00:36] BillyQuan commented on #50
Hi, sorry for the delay, got busy with work, let me know if you need anything else

[2017-11-28 16:38] SoneeJohn commented on #50
No problem. Was the dock connected to your iMac when you ran that command?

[2017-11-28 17:01] BillyQuan commented on #50
Yes it was, I remote screened in from my MBP

[2017-12-02 23:06] SoneeJohn commented on #50
@BillyQuan Thanks. I wasn't able to replicate the issue with the provided XML. Maybe I will simply have to give the option for the user to disconnect and reconnect manually from the MacBook.

[2017-12-04 14:49] BillyQuan commented on #50
ok thx for investigating

[2017-12-20 06:13] dicetomato commented on #50
Just came here to mention a similar thing. I'm running a MBP 2017 with an 2014 iMac. I recently got a Kensington Dock and when I connect/disconnect my MBP from the dock, VirtualKVM doesn't trigger target display mode on the iMac (which is connected to another port on the dock. Obviously the dock is another variable here, and so I'm not sure what it would take to make it detect.

What i've been doi

[2018-01-02 03:40] phrankemp commented on #50
Having a similar situation.  I have a MacBook Pro 2017 connect to an OWC dock and a late 2012 iMac that I'd like to use in Target Display mode.  I'm connecting the iMac to another TB port on the MacBook instead of the dock.

When I connect to the MacBook, vKVM disables bluetooth on the iMac but doesn't put the iMac in Target Display mode.  It clearly is recognizing the connection because bluetooth

[2018-01-02 23:31] SoneeJohn commented on #50
Thanks for all the reports. I will look into this further :-)

[2018-01-09 03:58] maricris-sn commented on #46
Adding some details to this problem, I noticed that the rechargeable mouse doesn't pair when toggled from iMac.  The old keyboard (battery powered) seems to be toggling fine though.

I am able to use the rechargeable mouse on the MacBook if I keep both open (while connected via thunderbolt) and make a manual connection to the rechargeable mouse.

[2018-01-09 20:18] SoneeJohn commented on #46
@maricris-sn  thanks for that :-)

[2018-02-14 21:13] SoneeJohn commented on #42
Closing due to inactivity.

[2018-02-14 21:13] #42 closed

[2018-02-21 04:50] hytgbn commented on #12
Has anyone solved this issue? My issue is that I cannot adjust brightness on my iMac (TDM) (late 2013 27inch), and brightness is set to the lowest level automatically, so I can barely see.
It seems that the "lowest brightness" becomes "max brightness" so with brightness adjust app like Shades, I can micro control the brightness.

[2018-02-22 14:26] SoylentGraham opened #51 "Connection not detected"
with 1.2.3, I'm attaching a macbook air 6,1 (High Sierra) to an imac13,2 (Sierra)

The system report recognises each other under thunderbolt, (so the cable is connected okay) but VirtualKVM just has `Host: ready to accept connections` and macbook has `client mode: not connected`.

Moreover, I cannot seem to manually invoke target display mode, (but with a non-apple keyboard)

It may just be a case

[2018-02-23 11:23] SoylentGraham commented on #51
I paired an apple bluetooth keyboard and it instantly worked... I don't know if Target Display Mode REQUIRES any, or an apple bluetooth keyboard to be attached? (I'm sure I've done this before -on different machines- without one)
But a regular USB keyboard, it wasn't happy with...

[2018-02-23 14:58] SoneeJohn commented on #51
@SoylentGraham Hmm, according to Apple:

Maybe that's what caused it :-)

[2018-02-23 17:57] SoylentGraham commented on #51
Does VirtualKVM emulate/invoke a keyboard press as if it was from a specific keyboard?

I still have the non-apple keyboard plugged in, and then paired the bluetooth one, and then it kicked into life.
Pressing CMD+F2 on the non-apple doesn't trigger anything. But it does on the apple keyboard...

It's such an odd implementation/restriction from apple :)

[2018-03-01 21:36] renderfarmer opened #52 "iMac Pro to iMac ?"
I am wondering if this also works with the iMac Pro using an older iMac 2013 as an external second display. Both running the latest OSX High Sierra. Does anyone know?
Thank you

[2018-03-18 15:44] petertennis opened #53 "'Host Mode : Ready to Accept Connections' is greyed out"
I was really hoping this would resolve issue trying to connect my 2016( new gen) MBP to a mid 2011 iMac. Cannot seem to get iMac into Target Display Mode no matter what I try - any suggestions appreciated.

When I run the tool it seems to be active but plugging in MBP has no effect and I note that in the status bar on the iMac, the 'host mode' status seems to be greyed out as per the subject line

[2018-04-02 01:18] sam1rm commented on #53
Hey @petertennis were you able to figure this out? Struggling on the same thing atm

[2018-04-04 14:10] Dafdafdaf commented on #46
@maricris-sn Do you mean you have to click on the "Connect" button (in Bluetooth prefpane on the MBP, using the trackpad) to get the Magic Mouse 2 to connect?
I have the exact same problem. And also with the latest Magic Keyboard. You have to interact with the MBP's trackpad to get both of them connected.

It's also true when I'm back on my iMac, disconnecting the Thunderbird cable from my MBP. I

[2018-04-28 22:14] robmcgowan commented on #53
Same issue here. Any ideas?

[2018-05-08 07:09] manngo opened #54 "Feature Request: Restart VirtualKVM from Menu"
There is already an issue regarding manually connecting KVM.

My current workaround is to quit VirtualKVM and start it up again. That seems to do the trick.

Would it be possible to add that as a menu item?

[2018-05-10 12:58] SoneeJohn commented on #54
@manngo I will consider adding it. However, I've been doing some debugging today and it seems to be working better now. You can follow the progress in the [develop branch](https://github.com/duanefields/VirtualKVM/commits/develop). I will push a beta update at the end of the day if you would like to test it out.

[2018-05-10 12:59] SoneeJohn commented on #53
@petertennis @sam1rm  @robmcgowan  I've been doing some debugging today and it seems to be working better now. You can follow the progress in the [develop branch](https://github.com/duanefields/VirtualKVM/commits/develop). I will push a beta update at the end of the day if you would like to test it out.

[2018-05-10 13:03] SoneeJohn commented on #53
@petertennis BTW, the menu is always greyed out because the iMac is passive (when the thunderbolt  port in plugged in then the iMac tries to enable TDM)

![screen shot 2018-05-10 at 9 01 28 am](https://user-images.githubusercontent.com/4827301/39870853-cf4393fe-5430-11e8-816c-640c5ee62dda.png)

[2018-05-10 13:41] SoneeJohn commented on #50
@phrankemp can you try turning off the switch bluetooth feature?

[2018-05-10 15:01] imyelmo opened #55 "Bluetooth issue on iMac"
Lately, I don't remember if after 10.13.3 or 10.13.4 update I have sometimes bluetooth issues. The fact is that bluetooth doesn't turn off on iMact aftwer display switching; thus, keyboard and mouse remain attached to the iMac and are not syn with my Macbook Pro. Any idea about how to deal or debug this issue?

[2018-05-17 11:02] AntonTal commented on #55
I have the very same issue - bluetooth on iMac won't turn off when a macbook is connected. I use iMac 2010 27, 10.12.6 and a MacBook Pro 2016 15, 10.13.4. The target display mode is over mini-display rather than thunderbolt.

[2018-05-21 01:24] SoneeJohn opened #56 "Remove polling"

[2018-05-22 10:53] JamesHortonLtd opened #57 "Target display mode not detected whatsoever"
I have a Mid 2015 MacBook Pro connected to a Mid 2011 iMac using a new thunderbolt cable. Both macs are running High Sierra and Virtual KVM is on the iMac. The iMac is not detected when connected to the MacBook Pro as a second display. Any ideas?

[2018-05-31 02:45] SoneeJohn commented on #57
@JamesHortonLtd Will be releasing a new version soon that should fix this

[2018-06-07 06:47] SoneeJohn commented on #56
Closed with https://github.com/duanefields/VirtualKVM/commit/8bd935756759ebc85aeb3452372a495843270566

[2018-06-07 06:47] #56 closed

[2018-06-07 07:16] SoneeJohn commented on #57
@JamesHortonLtd Please see if the latest version fixed you issue [here](https://github.com/duanefields/VirtualKVM/releases/download/v1.2.4/v1_2_4.zip)

[2018-06-07 07:17] SoneeJohn commented on #55
@imyelmo @AntonTal  Please see if the latest version fixed you issue [here](https://github.com/duanefields/VirtualKVM/releases/download/v1.2.4/v1_2_4.zip)

[2018-06-07 07:17] SoneeJohn commented on #53
@petertennis  Please see if the latest version fixed you issue [here](https://github.com/duanefields/VirtualKVM/releases/download/v1.2.4/v1_2_4.zip)

[2018-06-07 07:18] SoneeJohn commented on #50
@BillyQuan @phrankemp @dicetomato  Please see if the latest version fixed you issue [here](https://github.com/duanefields/VirtualKVM/releases/download/v1.2.4/v1_2_4.zip)

[2018-06-07 07:18] #19 closed

[2018-06-07 07:18] #9 closed

[2018-06-07 07:18] #2 closed

[2018-06-07 07:19] SoneeJohn commented on #52
It should work :-)

[2018-06-07 07:19] #44 closed

[2018-06-07 12:05] SoneeJohn commented on #53
@petertennis No problem :-)

[2018-06-07 12:05] #53 closed

[2018-06-07 23:37] flegallo commented on #50
I have an Elgato Thunderbolt 3 dock and I am having the same issue. I tried the latest version(1.2.4) and it doesn't change anything.

[2018-06-08 08:34] AntonTal commented on #55
Unfortunately, this update doesn't fix the problem. What I've noticed is that on the iMac it says: "Host Mode: Ready to accept connections" regardless whether the display is in target mode or not, even after manually switching the target mode on/off with cmd+f2 shortcut. I guess it simply doesn't recognise the connection. On the MacBook it still works as it should - turn on/off Bluetooth depending

[2018-06-08 10:48] SoneeJohn commented on #55
@AntonTal Can you please repeat the steps you did above then go to advanced > Save Debug logs on both the iMac and MacBook Pro.

[2018-06-08 10:50] SoneeJohn commented on #50
@flegallo Can you please repeat the steps you did above then go to advanced > Save Debug logs on both the iMac and MacBook. Then attached them to your comment here on GitHub

![screen shot 2018-06-08 at 6 48 47 am](https://user-images.githubusercontent.com/4827301/41154387-0698ba50-6ae8-11e8-920f-f9bc05ee9d71.png)

[2018-06-11 14:21] AntonTal commented on #55
Here they are. What I also noticed is that whenever I launch KVM - Bluetooth switches off even on iMac. Furthermore, often when I manually switch Bluetooth on the iMac
[macbook.log](https://github.com/duanefields/VirtualKVM/files/2090336/macbook.log)
[imac.log](https://github.com/duanefields/VirtualKVM/files/2090339/imac.log)

 - VirtualKVM crashes.

[2018-06-19 17:10] SoneeJohn commented on #55
@AntonTal From the logs it appears that the iMac is indeed detecting the presence of the thunderbolt cable. Are you using an Apple keyboard with your system?

[2018-06-20 13:24] paulstanfield opened #58 "Do you have to be logged in to the iMac for this to work"
Hi,

do you have to login to your iMac for this to work on will this process simple work on iMac boot up?

thanks - great idea!

[2018-06-28 15:06] runar-rkmedia commented on #57
I have a 2012 iMac and 2015 MacBook Pro, same problem with this version (1.2.4)

[2018-06-28 15:23] JamesHortonLtd commented on #57
Thanks, Sonee John sorry for the very late reply. The update did not fix the problem.
Apple have had a look at both the MacBook Pro and the iMac, they think there could be an issue with the iMac Thunderbolt port? However, we got it to connect and mirror to an external monitor using TDM in store. But the system info doesn't say it's connected? I'm inclined to think it could be an OS issue maybe hig

[2018-07-20 20:16] adamturtle opened #59 "Toggle specific bluetooth devices"
It'd be nice to have the app only toggle the mouse and keyboard when connecting/disconnecting. At the moment, the bluetooth toggle turns off so I lose my headphones and any other devices connected to my laptop.

Maybe some kind of menu where you can select which devices to toggle on connecting?

[2018-08-27 21:23] FreqParagon opened #60 "Not working with new MacBook Pro 2017 model"
I have a 27" iMac 2011 model that works fantastic when I manually put the display into target display mode.  I run the Virtual KVM package on my MacBook and it shows that the iMac is connected only after manually activating target display mode.  Plugging it in and unplugging the thunderbolt cable only changed the status from "Connected" to "Not Connected".  Once "not connected", I can not get it t

[2018-08-29 13:38] smellsworth opened #61 "Can't get TDM to work with VirtualKVM or Manually (iMac Late 2009 & MBP Mid-2014)"
Here's the setup:
- iMac Late 2009, Mini-displayport, has wired Apple keyboard and wireless Apple magic mouse, High Sierra 10.13.6
- MBP Mid-2014, Thunderbolt 1/2 ports, wireless Apple mouse & keyboard separate from above, High Sierra 10.13.6
- Mini-displayport-to-Mini-displayport cables connecting them

VirtualKVM isn't detecting a connection. Any suggestions? Should I be able to see a connection

[2018-10-16 14:17] mjfagioli opened #62 "Display Not Toggling Since Updating to Mojave 10.14"
Is anyone else having issues since upgrading to Mojave?

I started to see problems after upgrading. Then, found I needed to update VirtualKVM which I did. I think it worked once when I unchecked Prevent Display Sleep and hasn't worked since with a combination of turning settings on and off.

I have an 2012 iMac running Mojave and a 2016 Macbook Pro running Mojave. Thanks for your help and input on

[2018-10-16 14:20] mjfagioli commented on #62
I forgot to mention that bluetooth toggling is intermittent. It always disconnects from the iMac but the Macbook Pro isn't always turning bluetooth on to grab the peripherals. Thanks!

[2018-10-18 04:06] hytgbn commented on #62
I am experiencing the same issue.
My case, bluetooth seems to be toggling always, but display doesn't.

Some copy/paste of logs from Console app. (searched with 'VirtualKVM')

[code]

[2018-10-18 11:38] mjfagioli commented on #62
@hytgbn Thank you! I'll try to grab some logs later today, too. I'm curious what machines you are using, just to see if there is slightly different behavior on a different set.

[2018-10-18 15:54] hytgbn commented on #62
target is iMac (27-inch, Late 2013) , source is MacBook Pro (early 2015).

One thing to note is that it sometimes works if iMac reboots.

[2018-10-23 06:53] hytgbn commented on #62
I did a little bit dive deep.

When Display is not toggling, [KVMThunderboltObserver.isInTargetDisplayMode](https://github.com/duanefields/VirtualKVM/blob/master/VirtualKVM/KVMThunderboltObserver.m#L211) returns `true` even though it's not in TDM. This causes [enableTargetDisplayMode](https://github.com/duanefields/VirtualKVM/blob/master/VirtualKVM/KVMController.m#L260) do nothing.

As workaround,

[2018-11-01 13:22] rspilhaus commented on #62
Having the same issue. Disconnects from the iMac but MacBook Pro doesn't pick it up.

It seems that restarting the iMac every time works. But if I try to do it after disconnecting without restarting the iMac it does not work.

[2018-11-02 03:51] hytgbn commented on #62
`sudo killall -9 dpd` seems to reset the state. not sure how safe it is.

[2018-11-26 10:18] markjeffreymiller commented on #62
@hytgbn's suggestion of `sudo killall -9 dpd` does not work for me, FWIW.  I can't get the display to switch at all.

[2018-12-22 08:57] AvivWn commented on #62
Same issue here.
I am using MacBook Pro 2018 and iMac 2013 (both OS X 10.14). When auto bluetooth toggling is on, then the bluetooth devices are disconnected from the iMac, but the display does not toggle.
When is it going to be solved?

[2019-01-08 12:46] AdventureJon commented on #62
I have the same issue.  MacBook Pro 2018 and iMac late 2013 on OSX 10.14.2.  The iMac will not toggle into TDM.  I have not tried on previous OS releases.

[2019-01-08 22:21] SoneeJohn commented on #62
I am working on a fix in an upcoming version.

[2019-02-27 13:31] jaspercardol opened #63 "Using a device other than a MacBook"
Hi there! I have an editing rig that runs both macOS and Windows (Hackintosh) with an Asus ThunderboltEX 3 add-on card which works great and is recognized by my 2011 27" iMac.

Unfortunately, the iMac won't go into Target Display Mode when I press Command + F2 even though I have a video signal feeding into it (The thunderbolt card has a displayport in which it then injects into the thunderbolt sig

[2019-03-07 09:10] #63 closed

[2019-04-16 12:51] rspilhaus opened #64 "New Release?"
Is there a new release available? It shows updates from the past week or so but the latest release on the release page (https://github.com/duanefields/VirtualKVM/releases) is from last year.

[2019-07-19 22:01] ghost commented on #57
I’m having a similar issue with MacBook Pro (Late 2013, Mojave) and iMac (Mid 2011, High Sierra). Replacing keyboard events with ‘Brightness Up’ sysdef event seems to fix this.

Of course, I’m kinda wary of making a PR before asking: is there any particular reason sending `0x90` was preferred to sysdef events?

[2019-10-03 21:53] Nadohs commented on #35
closing file on task terminate fixed this error for me
[code]

[2019-10-11 22:52] hryamzik opened #65 "Feature Request: start on boot w/o login"
It seem to be possible to run commands on boot without logging in: use `launchctl` under root. However that doesn't seem to work with GUI apps.

Target display mode works after boot if disk is not encrypted so logging in is an annoying overhead.

[2019-10-11 23:04] hryamzik opened #66 "TDM not triggered"
I don't get my iMac 2011 turning to TDM. App does see connection changes – bluetooth goes down. However display mode doesn't get activated. Any tips to debug this?

[2019-10-11 23:20] hryamzik commented on #66
OK, this happens when no keyboard is connected. Checking if there's a software solutions for this...

[2019-10-11 23:37] hryamzik commented on #66
Karabiner didn't work. Arduino micro is the next thing to try.

[2019-10-23 14:15] shinister commented on #66
i have a similar issue here using v1.2.4.

connecting from a 2017 MBP (Mojave) to a 2013 iMac (Mojave). iMac is showing the connection in the debug log, bluetooth toggles off (but not screen); MBP does not toggle bluetooth on, and shows "Not Connected." debug log on the MBP does not show connection.

no change after restarting both machines, nor after reverting to v1.2.3. reverting to v1.1.2 ended

[2019-10-23 22:24] hryamzik commented on #66
I've connected a physical keyboard and hided it behind my iMac. The only think I have to do from time to time is to press any button on that keyboard.

[2019-10-29 15:46] cwgphillips commented on #66
Any suggestions if you don't have a spare/second keyboard? ...as you say, it toggles bluetooth but not TDM.

[2019-10-29 23:51] hryamzik commented on #66
Just purchase an arduino pro micro (the one with USB) for $2, you can program it as a keyboard.

[2020-02-25 18:12] vincevuong commented on #66
Having similar issues here and would like to utilize an old mac as a second monitor when needed. Anyone know if reverting this back to a previous macOS (last OS that worked well was High Sierra).

[2020-04-15 07:49] markturnip opened #67 "Temporarily disable sleep on client for clamshell mode"
This works great! Thanks heaps.

Only drama is when putting my laptop into clamshell mode, VirtualKVM will auto switch displays and enable bluetooth; which results in not being able to wake laptop up from clamshell mode.

For now I've disabled sleep mode:
`sudo pmset disablesleep 1`

[2020-04-15 07:49] markturnip commented on #67
But maybe I could create a PR to allow auto disabling sleep mode when the host is connected?

[2020-04-15 07:59] markturnip commented on #67
https://github.com/iccir/Fermata

[2020-04-15 08:11] markturnip commented on #67
Does mean including private headers
[code]

[2020-05-18 15:39] antoniancu commented on #65
+1 this would be super helpful to avoid ever having to plug in a keyboard and mouse

[2020-07-19 10:56] CoreyKamp opened #68 "1.2.4 Not connecting with High Seirra iMac & Mojave Macbook"
Hello all, I've scrolled through all the issues and can't find a fix for my issue.

I have a Early 2011 iMac running MacOs High Sierra 10.13.6 with VirtualKVM 1.2.4 Software, installs fine. The app now displays "Host Mode: Ready To Accept Connections". Awesome. I have a Early 2013 MacBook Pro running MacOs Mojave 10.14.6. I plug in the Thunderbolt cable in, and nothing happens. iMac doesn't even s

[2020-09-30 15:37] emilwittlock commented on #60
I have a MacBook Pro 2017 (10.15.7 Catalina) and a iMac 27" mid-2011 (10.13.6 High Sierra) and the latest release works great for me. I just discovered this program so I can't say for previous versions.

[2020-10-29 06:57] cpgerber commented on #66
I have iMac (27-inch, Late 2012) and MacBook Pro (13-inch, 2017, Four thunderbolt ports). Both running MacOS Catalina 10.15.7.

VirtualKVM 1.2.4.

Switching to TDM is very sporadic. Works every once in a while, but usually I have to reboot both machines or unplug and re-connect the thunderbold cable a number of times before it sticks. The bluetooth switching on the iMac works fine, that confirms t

[2020-11-03 13:08] xcuzmeh opened #69 "TDM not triggering iMac (2013) + MBP (2018) both Catalina"
Any solutions for connecting iMac+MBP running on Catalina?

- Bluetooth switch works (but I have to turn on/off the Apple keyboard so it shows up in bluetooth settings... Even though I save it, my MBP seems to delete the device for some reason?)
- TDP only works after rebooting my iMac; any only manually with CMD+F2

♡

[swiftybeaver — 2020-11-03 13:07:38 +0000.log](https://github.com/duanefields/

[2021-03-08 17:49] AdobeWanKenobe opened #70 "how to uninstall VirtualKVM?"
Hi, I installed VirtualKVM hoping it would simplify using one iMac as a second display for another iMac, then found it won't work because the Thunderbolt cable stays connected all the time. Now I'm trying 1Keyboard and having some trouble, maybe because of a VKVM conflict. How can I uninstall VirtualKVM?

Or should VirtualKVM be able to put my second iMac into TDM without reconnecting cables? -- T

[2021-03-29 11:11] tuckdesign opened #71 "Big Sur"
Did anyone tested this on Big Sur? Need to get cables to connect iMac (late 2014 on Big Sur) with MacBook Pro (Catalina). Will TDM work with Big Sur (11.2.3)?

[2021-09-21 16:18] leoneloliveros commented on #71
Same problem

[2022-06-13 11:26] Macaroon23 commented on #69
I believe this issue is related to Catalina and TDM, which is not officially supported for the target machine.

Personally, I can only get TDM to work from the login screen on my Catalina iMac. This works equally well whether you've not logged-in since boot, or you've log out the current user, or by using Fast User Switching while remaining logged into your user account (tip: add the Fast User Swi

[2022-11-16 16:28] yonib05 commented on #71
Target display mode is not supported in Late 2014 only until mid 2014 I believe https://support.apple.com/en-us/HT204592

[2022-11-16 16:46] #71 closed, assigned to nobody